<div ng-controller='addRow' ng-init="init()">
  <style>
    .timepicker-dropdown {
      margin: 0px !important;
      border: 0px !important;
    }
  </style>
  <!--  This is a complete hack. The form actually exists in the modal, but due to transclusion
        $scope.input isn't available on the controller unless the form element is in this file -->
  <form name="input" style="margin:3px 0 0 0">
    <ul class="nav nav-pills timepicker-dropdown">
      <li class="dropdown">

        <a class="dropdown-toggle timepicker-dropdown" data-toggle="dropdown" href="" ng-click="dismiss();">
          <span>Add graph</span>
          <i class="icon-caret-down"></i>
        </a>

        <ul class="dropdown-menu">
          <li ng-repeat='category in panel.options' class="dropdown-submenu">
            <a>{{category}}</a>
		  	<ul class="dropdown-menu">
			  <li ng-repeat="rowTitle in panel[category]"><a ng-click="add_row(category, rowTitle)">{{rowTitle}}</a></li>
		    </ul>
          </li>
        </ul>

      </li>
    </ul>

  </form>
</div>
